body
{
   background-color: rgba(55, 56, 65, 0.24);

}
h2{
    color: red;
    background-color: rgb(21, 24, 24);
}
#box{
    background:linear-gradient(75deg,rgb(185, 179, 179),rgb(130, 62, 62));
    width: 15%;
    height: 80%;
    padding: 60px;
    padding-bottom: 120px;
    margin-top: 130px;
    border-radius: 4px;
    margin-left: 38%;
}
#box h2{
    text-align: center;
    position: relative;
    bottom: 40px;
    color: rgb(186, 215, 241);
}
#dropdown{
    background-color: lightyellow;
    text-align: center;
    position: relative;
    left: 50px;
    bottom:30px;
    border: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 200;

}
#box button{
    text-align: center;
    position: relative;
    left: 65px;
    bottom:10px;
    background-color: rgba(59, 232, 232, 0.911);
    border: none;
    padding: 6px;
    color: rgb(34, 12, 12);
    

}
#res{
    
    position: absolute;
    left: 630px;
    width: 270px;
   
    bottom: 300px;
    color: rgb(32, 21, 21);
}
